corpo {
    font-family: monospace;
    height:min-content 400px;
    background-image: url ("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9x9aTwBg5d_oDrkV6zkXyNRabdCBE96kitaLfgKo-MxftufHPYx6paKbAKZ5kIrHWyJM&usqp=CAU");
     background-color:blue;
    font: size 100px;;
    background-position: fundo central;
    background-repeat:sem repetição;
  }
  
  .recipiente {
  text-align: centro ;
    animation-fill-mode:  30px ;
    height: 100vh ;
  }
  
  .título da página {
    color:black; 
    margin:5px;
  }
  
  .subtítulo da página {
    color:  red;
     margin-top: auto 5px ;
  }
  
  .logotipo da página {
    width: 200px ;
  }
  
  .ConversordeMoedas-logo {
   
    width: 30px ;
    position:absoluto;
    height : 10px ;
    direction: 10px ;
  
  }
    .entrada {
    margin: 12px ;
    fill:  6px ;
    border-radius: 5px; 
    }
    .etiqueta {
    color: white;
    }
    .botão{
    margin-top:  12px ;
    fill: 4px 8px ;
    border-radius:radius 10px;
     background-color:  #ffffff ;
  }
  
  h2{
    color:white;
    font-size: 30px;
  }